@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poppins:wght@400;700&display=swap');


body{
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(234, 240, 240);
  overflow-x: hidden;
}

.navbar-a{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  background-color: rgb(66, 34, 136);
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Poppins', sans-serif;
  color: rgb(240, 242, 248);
  padding-top: 11px;
  position: sticky;
  top: 0;
}

.leftNav-a{
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightNav-a, .rightNav-a li, .rightNav-a li a{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: rgb(240, 242, 248);
}


.rightNav-a li a:hover{
  color: rgb(208, 213, 231);
}

.leftNav-a li a{
  text-decoration: none;
  color: rgb(240, 242, 248);
}

.serviceItem{
  min-height: 20vh;
  max-width: 70vw;
  min-width: 60vw;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(245, 245, 249);
  box-shadow: 5px 5px 5px rgb(223, 216, 216);
  margin: 10px;
}


.servicebody{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  height: 7vh;
}

#servicebodyheader{
  font-weight: 600;
  font-size: large;
}

button{
  height: 35px;
  background-color: rgb(84, 53, 151);
  color: rgb(240, 242, 248);
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}
button:hover{
  color: rgb(208, 213, 231);
  size: 5%;
  transform: scale(1.05);
  transition-duration: 300ms;
  cursor: pointer;
}

.servicemaindiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.carousel-main-div{
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.homepageimagediv{
  
  box-shadow: 5px 5px 5px rgb(223, 216, 216);
  
}

.c-item{
  height: 100%;
  width: 100%;

}

.c-img{
  height: 100%;
  object-fit: cover;

}

.carousel-control-next-icon, .carousel-control-prev-icon {
  margin-top: 400%;
}

#carouselExample{
  box-shadow: 5px 5px 5px rgb(223, 216, 216);

}


.information-text{
  color: rgb(66, 34, 136);
  font-weight: bolder;

}

.information{
  width: 100vw;
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.inner-information{
  background-color:rgb(226, 237, 232);
  min-height: 30vh;
  min-width: 17vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: larger;
  font-style: italic;
  font-family: cursive;
  color: rgb(2, 26, 17);
  box-shadow: 5px 5px 5px rgb(223, 216, 216);
}

#loginpagemaindiv{
  height: 93vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logindiv{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 60vh;
  min-width:25vw;
  border: 3px solid rgb(27, 7, 117);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(161, 166, 223);
  background-color: rgb(245, 245, 249);
}

#logindiv form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  min-height: 30vh;
}

.input{
  /* margin-top: 10%; */
  margin-bottom:  10%;
  min-width: 15vw;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}

#loginsubmit{
  margin-top: 10%;
  margin-bottom:  10%;
  height: 40px;
  border-radius: 5px;
  width: 90px;
  margin: auto;
  background-color: rgb(84, 53, 151);
  color: rgb(240, 242, 248);
}

#loginsubmit:hover{
  color: rgb(208, 213, 231);
  size: 5%;
  transform: scale(1.05);
  transition-duration: 300ms;
  cursor: pointer;
}

#works{
  width: 60vw;
  height: 14vh;
  border: 1px solid blueviolet;
  background-color: rgb(99, 63, 183);
  border-radius: 5px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  color: aliceblue;
}

#works:hover{
  transform: scale(1.01);
  transition-duration: 200ms;
  box-shadow: 5px 5px 10px rgb(89, 89, 196);
}

#workinfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
}

#workphoto{
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}